body, html {
  margin: 0;
  padding: 0;
}

.index_page {
  display: grid;
  grid-template-columns: 15% 85%;
  width: 100%;
  height: 100vh;
}

.index_menu {
  background-color: #f4f4f4; 
  padding: 10px;
}

.index_menu__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15px;
}

.index_menu__items a {
  text-decoration: none;
  color: black;
}

.index_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.index_logout {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.index_fullname {
  margin-right: 20px;
}
