.profil_content {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.profil_header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.profil_info {
  font-size: 18px;
  line-height: 1.8;
}

.profil_info span {
  font-weight: bold;
}

.profil_info label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

.profil_info input {
  width: 95%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
